@import '../../styles/variables.css';

.container {
	background-color: var(--background-color);
	padding: var(--container-padding);
	height: 100vh;

	h2 {
		text-align: var(--h2-text-align);
		margin-top: 0;
	}

	form {
		display: flex;
		flex-direction: column;
		max-width: var(--button-max-width);
		margin: 0 auto;
	}

	label {
		margin-bottom: 8px;
		font-weight: bold;
	}

	input,
	select {
		padding: var(--input-padding);
		border-radius: var(--input-border-radius);
		border: var(--input-border);
		margin-bottom: var(--input-margin-bottom);
		width: -webkit-fill-available;
	}

	select {
		appearance: none;
	}

	.error {
		color: var(--error-color);
		margin-top: 4px;
	}

	button[type='button'] {
		width: var(--button-width);
		padding: var(--button-padding);
		cursor: var(--button-cursor);
		background-color: var(--primary-color);
		border: none;
		border-radius: var(--button-border-radius);
		color: var(--text-color);
		font-weight: 700;
		margin-top: 16px;
	}

	button[type='button']:hover {
		background-color: rgba(87, 229, 202, 0.75);
		transition: ease-in-out 0.2s;
	}

	button[type='button']:last-of-type {
		background-color: var(--secondary-color);
		color: var(--primary-color);
	}

	button[type='button']:last-of-type:hover {
		background-color: rgba(30, 29, 98, 0.75);
		transition: ease-in-out 0.2s;
	}

	.emailError {
		font-size: 12px;
		color: var(--error-color);
	}
}
