@import '../../styles/variables';

.container {
	position: sticky;
	bottom: 0;
	width: -webkit-fill-available;
	background-color: var(--secondary-color);
	padding: 10px;
	color: var(--primary-color);
	text-align: center;
	font-weight: 700;
}
