@import '../../styles/variables.css';

.container {
	display: flex;
	flex-direction: column;

	background-color: var(--background-color);
	padding: var(--container-padding);
	min-height: 100vh;
	height: auto;

	h2 {
		text-align: var(--h2-text-align);
	}

	ul {
		list-style-type: none;
		padding: 0;
	}

	button {
		width: var(--button-width);
		max-width: var(--button-max-width);
		margin: 0 auto;
		padding: var(--button-padding);
		cursor: var(--button-cursor);
		background-color: var(--primary-color);
		border: none;
		border-radius: var(--button-border-radius);
		color: var(--text-color);
		font-weight: 700;
	}
}

.contactCard {
	border-radius: 15px;
	box-shadow: var(--box-shadow);
	padding: var(--container-padding);
	margin-bottom: 15px;
	transition: box-shadow 0.3s ease-in-out;

	&:hover {
		box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.3);
		cursor: pointer;
	}
}
